:root{
    --green: #254500;
    --orange: #d68538;
    --black: #373737;
    --lightOrange:#F5E4CD;
    --grey: #C4C4C4;
    --aWhite: #F6F6F6;

}

@font-face {
    font-family: titlesFont;
    src: url(./fonts/Rochester-Regular.ttf);
}

@font-face {
    font-family: bodyFont;
    src: url(./fonts/Asap-Regular.ttf);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: bodyFont;
    font-size: 14px;
    letter-spacing: 0.8px;
    color: var(--black);
}

header{
    position: fixed;
    height: 100px;
    color: var(--green);
    background-color: white;
    padding-top: 30px;
    z-index: 100;
}

.mobileDisplay{
    display: none;
}

#mobileHomeImg{
    height: 500px;
}

footer{
    position: fixed;
    bottom: 50px;
    left: 50px;
}

#content{
    padding-top: 12%;
    padding-left: 3%;
    width: 100%;
    z-index: -100;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobileMenuBlock{
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -200;
    opacity: 0;
    transition: opacity 300ms;
}

.mobileMenuContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 30px ;
    width: 600px;
    height: 700px;
    max-width: 500px;
    background-color: white;
    align-items: center;
    opacity: 0;
    transition: opacity 300ms;
}

.mobileMenuHeader{
    color: var(--orange);
}

.mobileMenuClose{
    display: block;
    bottom: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

img[alt=closeMenu]{
    height: 25px;
}

.mobileMenuList *{
    height: 50px;
    text-align: center;

}

#mobileContent{
    display: none;
    padding-top: 70px;
}

#leftSide, #rightSide{
    height: 550px;
    width: 37%;
}

ol, ul{
    list-style: none;
    padding-left: 0;
}

#laCarte li{
    font-size: 18px;
    margin: 30px 0;
}

h1{
    font-family: titlesFont;
    letter-spacing: 0;
    font-size: 45px;
}

.h6{
    font-size: 16px;
}

#logoBig{
    height: 100px;
}

#logoLocationContainer{
    height: 70px;
    min-width: 110px;
    text-align: center;
}

#loc1 h2, #loc2 h2, #loc3 h2{
    color: var(--orange);    
}

a{
    text-decoration: none;
    color: var(--green);
}

.presText{
    font-size: 18px;
}

.carouselBlockItem {
    margin-bottom: 10px;
}

.carouselBlockItem *{
    margin: 0 auto;
}

.carouselBlockItem p{
    padding-top: 5px;
    height: 50px;
}

.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--orange);
}

.primaryButton{
    width: 180px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color:  var(--orange);
    color: white;
}

.secondaryButton{
    width: 180px;
    height: 50px;
    border: solid 2px var(--orange);
    border-radius: 30px;
    background-color: white;
    color:  var(--orange);
}

.selectedPage{
    font-weight: bold;
    color: var(--orange);
}

#mainAction img[alt=pastille]{
    position: relative;
    left: 62px;
    bottom: 8px;
}

#table img[alt=removeLine]{
    height: 16px;
}

button:active, button:focus, input[type=submit]:active, input[type=submit]:focus{
    outline: none;
}

button:hover, input[type=submit]:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) ;
    transition: all 0.25s;
}

a:hover{
    text-decoration: none;
    color: var(--orange);
    font-weight: bold;
}

#leftSide h2:hover{
    color: var(--orange);
    cursor: pointer;
}

.deco{
    width: 100%;
    height: 30%;
}

.recap{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25) ;
    padding: 10px 15px;
    border-radius: 10px;
}

#info:hover{
    color: inherit;
    font-weight: inherit;
}

#infoBlock:hover{
    box-shadow: 0 0 5px var(--orange);
}

#paymentBlock{
    display: none;  
}

.deliveryDetails:not(:target){
    display:none;
}

.deliveryDetails:target{
    display:block;
}

.modalHead{
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--orange);
}

.carousel-item{
    margin-bottom: 20px;
}

.menuSubList:not(:target){
    display:none;
}

.menuSubList:target{
    display:block;
}

.galleryPic{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.galleryPicMobile{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.smallerText, .instructions{
    font-size: 11px;
}

.picTitle{
    height:30px
}

.carouselBlockText{
    text-align: center;
}

.menuItem{
    height: 135px;
}

#menuList .menuItem:hover{
    cursor: pointer;
    border-radius: 5px;
    color: var(--orange);
}

#restoID{
    height: 30px;
    cursor: pointer;

}

.smallerText, #restoID *{
    font-size: 11px;
}

#locChange{
    padding: 5px 10px;
    color: var(--green);
    border-radius: 5px;
    background-color: white;
    display: inline;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

#eleMenu1{
    color: var(--orange);
    font-weight: bold;

}

#actualLoc{
    padding: 5px;
    transition: all 0.3s;
}

#actualLoc:hover{
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    
}

.dropdown-item:hover{
    color: var(--orange);
    font-weight: bold;
}

.dropdown-item:active{
    background-color: var(--orange);
    color: white;
}

.openingHours{
    width: 280px;
}

.instructions{
    color: var(--orange);
    border-radius: 5px;
    background-color: var(--lightOrange);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.instructions > *{
    padding: 8px;
    height: 100%;
}

#table p{
    height: 35px;
    padding: 5px 10px;
    margin-bottom: 0;
    display: inline-block;
}

.tableRowText{
    border-top: 0.5px solid var(--grey);
}
.headRowText{
    border-bottom: 1px solid var(--grey);
    font-weight: bold;
}

.close{
    width: 20px;
}

#instructionRecap, #followUs p{
    color: var(--orange);
}

.choice *:hover{
    color: var(--black);
    font-weight: bold;
    cursor: pointer;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus{
    outline: none;
    box-shadow: 0 0 5px var(--orange);
}

.smallInput{
    width: 200px;
}
.largeInput{
    width: 435px;
}

.inputStyle{
    height: 35px;
    border-radius: 5px;
    border: solid 1.5px var(--orange);
}

input[type=checkbox]{
    background-color: solid 1.5px var(--orange);
}

textarea{
    resize: none;
}

.ml15{
    margin-left: 15px;
}
.ml30{
    margin-left: 30px;
}

.mr30{
    margin-right: 30px;
}
.mb15{
    margin-bottom: 15px;
}

.mb30{
    margin-bottom: 30px;
}

.mb50{
    margin-bottom: 50px;
}

.mb100{
    margin-bottom: 100px;
}

.mb150{
    margin-bottom: 150px;
}

img[alt=logoMobile]{
    height: 100px;
}

@media screen and (max-height: 720px){
    #leftSide, #rightSide{
        height: 550px;
    }
}

@media screen and (min-height: 800px){
    #leftSide, #rightSide{
        height: 700px;
    }
    .galleryPic{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 1300px){
    body{
        font-size: 13px;
    }

    h1{
        font-size: 40px;
    }

    .h4{
        font-size: 18px;
    }

    .h6{
        font-size: 15px;
    }

    .presText{
        font-size: 14px;
    }

    .inputStyle{
        height: 30px;
    }
    .primaryButton, .secondaryButton{
        width: 150px;
        height: 45px;
    }
    .galleryPic{
        width: 100px;
        height: 100px;
    }
    #logoBig{
        height: 90px;
    }

    #logo{
        height: 60px;
    }

    #logoLocationContainer{
        height: 60px;
        min-width: 90px;
    }

    .smallerText, .instructions, #restoID *{
        font-size: 10px;
    }

    #leftSide{
        width: 35%;
    }

    #leftSide, #rightSide{
        height: 530px;
    }
    
    #content{
        padding-top: 13%;
    }

    #mainAction img[alt=infos], #mainAction img[alt=contact]{
        height: 18px;
    }
    
    #mainAction img[alt=panier]{
        height: 22px;
    }

    #mainAction img[alt=panier]{
        height: 22px;
    }

    #mainAction img[alt=pastille]{
        position: relative;
        left: 60px;
        bottom: 7px;
    }

    #table img[alt=removeTableLine]{
        height: 12px;
    }

    img[alt=editInfos]{
        height: 18px;
    }
}

@media screen and (max-width: 1200px){
    #leftSide, #rightSide{
        height: 500px;
    }

    #table p, .tableRowText p{
        padding: 2px;
    }

    #content{
        padding-top: 15%;
    }

    body{
        font-size: 12px;
    }

    h1{
        font-size: 35px;
    }

    .h4{
        font-size: 16px;
    }

    .h6{
        font-size: 13px;
    }

    .presText{
        font-size: 13px;
    }
}

@media screen and (max-width: 1100px){
    #content{
        display: none;
    }

    .mobileMenuBlock{
        visibility: visible;
    }

    #mobileContent{
        display: block;
        padding-top: 70px;
    }

    .desktopDisplay{
        display: none;
    }

    footer{
        display: none;
    }

    .mobileDisplay{
        display: block;
    }

    header{
        padding-top: 0;
    }

    #mobileHeader, header{
        height: 70px;
    }

    .imgMenu{
        width: 130px;
        height: 130px;
    }

    #actualLoc{
        height: 50px;
    }

    #mobileHeader img[alt=pastille]{
        position: relative;
        left: 60px;
        bottom: 7px;
    }

    .primaryButton, .secondaryButton{
        width: 200px;
        height: 50px;
    }

    body{
        font-size: initial;
    }

    .presText{
        font-size: 18px;
    }

    #restoID *{
        font-size: 12px;
    }

    h2{
        font-family: titlesFont;
        letter-spacing: 0;
        font-size: 45px;
    }

    .mobileSectionContent > div{
        width: 100%;
    }

    .mobileSectionContent h3{
        color: var(--orange);
        font-size: 18px;
    }

    .mobileSectionContent h4{
        font-size: 16px;
    }

    .descProduit{
        font-size: 13px;
    }

    .inputStyle{
        height: 40px;
    }

    .bgMobileSection{
        width: 100%;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bgMask{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, #FFFFFF 100%);
        width: 100%;
        height: 300px;
    }
    .mobileSectionContent{
        width: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: relative;
        top: -50px;
        margin-bottom: 100px;
    }

    #mobileContactForm input{
        width: 50%;
    }
    #mobileContactForm textarea{
        width: 100%;
        height: 200px;
    }

    .mb_adapt{
        margin-bottom: 24px;
    }

    .bgMask h2{
        padding-top: 100px;
    }
}

@media screen and (max-width: 700px){
    .mobileSectionContent{
        width: 450px;
        top: -100px;
    }

    .mobileMenuContainer{
        height: 600px;
        width: 450px;
    }

    .mobileMenuList *{
        height: 40px;
    }

    .menuItem{
        height: 125px;
    }

    #mobileHomeImg{
        height: 300px;
    }

    .imgMenu{
        width: 120px;
        height: 120px;
    }

    img[alt=logoMobile]{
        height: 80px;
    }

    .primaryButton, .secondaryButton{
        width: 180px;
        height: 45px;
    }

    body{
        font-size: 14px;
    }

    .presText{
        font-size: 16px;
    }

    #restoID *{
        font-size: 11px;
    }

    h2{
        letter-spacing: 0;
        font-size: 35px;
    }

    .mobileSectionContent h3{
        font-size: 16px;
    }

    .mobileSectionContent h4{
        font-size: 14px;
    }
    
    .descProduit{
        font-size: 12px;
    }

    .galleryPicMobile{
        width: 150px;
        height: 150px;
    }

    .mb_adapt{
        margin-bottom: 20px;
    }

    .bgMask h2{
        padding-top: 80px;
    }

}

@media screen and (max-width: 500px){
    .mobileSectionContent{
        width: 330px;
        top: -120px;
        margin-bottom: 50px;
    }

    .mobileMenuContainer{
        width: 300px;
        height: 550px;
        padding: 5px 20px;
    }

    .menuItem{
        height: 100px;
    }

    #mobileHomeImg{
        height: 200px;
    }

    .imgMenu{
        width: 80px;
        height: 80px;
    }

    img[alt=logoMobile]{
        height: 60px;
    }

    .primaryButton, .secondaryButton{
        width: 150px;
        height: 40px;
    }

    .galleryPicMobile{
        width: 120px;
        height: 120px;
    }

    body{
        font-size: 12px;
    }

    .presText{
        font-size: 14px;
    }

    #restoID *{
        font-size: 10px;
    }

    h2{
        letter-spacing: 0;
        font-size: 30px;
    }

    .mobileSectionContent h3{
        font-size: 14px;
    }

    .mobileSectionContent h4{
        font-size: 12px;
    }
    
    .descProduit{
        font-size: 10px;
    }

    .formLine{
        flex-direction: column;
        width: 100%;
    }

    #mobileContactForm input{
        width: 100%;
        margin-left: 0;
    }

    #mobileContactForm textarea{
       height: 150px;
    }

    .mb_adapt{
        margin-bottom: 15px;
    }
    .mb100{
        margin-bottom: 70px;
    }
    .mb50{
        margin-bottom: 30px;
    }

    .mb150{
        margin-bottom: 100px;
    }
}