:root{
    --green: #254500;
    --orange: #d68538;
    --black: #373737;
    --lightOrange:#F5E4CD;
    --grey: #C4C4C4;
    --aWhite: #F6F6F6;

}

@font-face {
    font-family: titlesFont;
    src: url(./fonts/Rochester-Regular.ttf);
}

@font-face {
    font-family: bodyFont;
    src: url(./fonts/Asap-Regular.ttf);
}

body{
    font-family: bodyFont;
    font-size: 0.95rem;
    letter-spacing: 0.8px;
    color: var(--black);
}

ol, ul{
    list-style: none;
    padding-left: 0;
}

#laCarte li{
    font-size: 1.2rem;
    margin: 30px 0;
}
.primaryButton{
    width: 180px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color:  var(--orange);
    color: white;
}

.selectedPage{
    font-weight: bold;
    color: var(--orange);
}

.secondaryButton{
    width: 180px;
    height: 50px;
    border: solid 2px var(--orange);
    border-radius: 30px;
    background-color: white;
    color:  var(--orange);
}

button:active, button:focus, input[type=submit]:active, input[type=submit]:focus{
    outline: none;
}

button:hover, input[type=submit]:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) ;
    transition: all 0.25s;
}

.deco{
    width: 100%;
    height: 30%;
}

h1{
    font-family: titlesFont;
    letter-spacing: 0;
    font-size: 3rem;
}

#loc1 h2, #loc2 h2, #loc3 h2{
    color: var(--orange);    
}

a{
    text-decoration: none;
    color: var(--green);
}

a:hover{
    text-decoration: none;
    color: var(--orange);
    font-weight: bold;
}

header{
    position: fixed;
    height: 80px;
    color: var(--green);
    background-color: white;
    padding-top: 30px;
}

footer{
    position: fixed;
    bottom: 50px;
    left: 50px;
}
#content{
    padding-top: 10%;
    width: 100%;
    z-index: -100;
    height: 100%;
}

#leftSide, #rightSide{
    height: 580px;
    width: 35%;
}

@media screen and (min-width: 1000px) and (max-height: 720px){
    #leftSide, #rightSide{
        height: 550px;
    }
}

@media screen and (min-width: 1000px) and (min-height: 800px){
    #leftSide, #rightSide{
        height: 700px;
    }
    .galleryPic{
        width: 200px;
        height: 200px;
    }
}

.presText{
    font-size: 1.2rem;
}

#leftSide h2:hover{
    color: var(--orange);
    cursor: pointer;
}

.galleryPic{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.picTitle{
    height:30px
}

.carouselBlockText{
    text-align: center;
}

.carouselBlockItem {
    margin-bottom: 10px;
}

.carouselBlockItem *{
    margin: 0 auto;
}

.carouselBlockItem p{
    padding-top: 5px;
    height: 50px;
}

.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--orange);
}

.carousel-item{
    margin-bottom: 20px;
}

.inputStyle{
    height: 35px;
    border-radius: 5px;
    border: solid 1.5px var(--orange);
}

input[type=checkbox]{
    background-color: solid 1.5px var(--orange);
}

textarea{
    resize: none;
}

.menuItem{
    height: 135px;
}

#menuList .menuItem:hover{
    cursor: pointer;
    border-radius: 5px;
    color: var(--orange);
}

.menuSubList:not(:target){
    display:none;
}

.menuSubList:target {
    display:block;
}

#restoID{
    height: 30px;
    cursor: pointer;

}

#restoID *{
    font-size: 12px;
}

#locChange{
    padding: 5px 10px;
    color: var(--green);
    border-radius: 5px;
    background-color: white;
    display: inline;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

#eleMenu1{
    color: var(--orange);
    font-weight: bold;

}

#actualLoc{
    padding: 5px;
    transition: all 0.3s;
}

#actualLoc:hover{
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    
}

.dropdown-item:hover{
    color: var(--orange);
    font-weight: bold;
}

.dropdown-item:active{
    background-color: var(--orange);
    color: white;
}

.openingHours{
    width: 280px;
}

.instructions{
    color: var(--orange);
    font-size: 12px;
    border-radius: 5px;
    background-color: var(--lightOrange);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.instructions > *{
    padding: 8px;
    height: 100%;
}


td, th{
    padding: 0;
    border-top: 1px solid var(--grey);
    text-align: center;
    height: 35px;
}

tr{
    border-top: none;
    vertical-align: center;
    width: 100%;
}

#table p{
    height: 35px;
    padding: 5px 10px;
    margin-bottom: 0;
    display: inline-block;
}

.tableRowText{
    border-top: 0.5px solid var(--grey);
}
.headRowText{
    border-bottom: 1px solid var(--grey);
    font-weight: bold;
}

.close{
    width: 20px;
}

#instructionRecap{
    color: var(--orange);
}


.choice *:hover{
    color: var(--black);
    font-weight: bold;
    cursor: pointer;
}

.deliveryDetails:not(:target){
    display:none;
}

.deliveryDetails:target{
    display:block;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus{
    /*background-color: var(--aWhite);*/
    outline: none;
    box-shadow: 0 0 5px var(--orange);
}

.smallInput{
    width: 200px;
}

.largeInput{
    width: 435px;
}
.ml30{
    margin-left: 30px;
}

.mr30{
    margin-right: 30px;
}
.mb15{
    margin-bottom: 15px;
}

.mb30{
    margin-bottom: 30px;
}

.mb50{
    margin-bottom: 50px;
}

.mb100{
    margin-bottom: 100px;
}

.recap{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25) ;
    padding: 10px 15px;
    border-radius: 10px;
}

#info:hover{
    color: inherit;
    font-weight: inherit;
}

#infoBlock:hover{
    box-shadow: 0 0 5px var(--orange);
}

#paymentBlock{
    display: none;  
}